# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite / frontend cache
.vite/
.cache/

# TypeScript
*.tsbuildinfo

# ESLint cache
.eslintcache

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend build output inside PHP public folder
/backend/public/assets/
/backend/public/index.html
/backend/public/vite.svg